<!DOCTYPE html>
<html lang="en">
<head>
  <title>Block Proof</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Block Proof</h1>
  <p>UNIVERSIDADE FEDERAL FLUMINENSE</p> 
  <p>Aluna: Meirylene Rosa Emidio Avelino</p> 
  <p>Professor: Antônio Augusto de Aragão Rocha</p> 
</div>
  
<div class="container">
   <H2>{{error}}</H2>
    <form action="/login" method="POST">
        
        <div class="form-group">
            <label for="username">Usuário</label><br>
            <input type="username" class="form-control" id="username" name="username" placeholder="Username">
            </label>
        </div>
            
        <div class="form-group">
            <label for="password">Senha</label><br>
            <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
            </label> 
        </div>
   
        <button type="submit" class="btn btn-success">Entrar</button>
        <br>
        <br>

        <center><H10>Ainda não é cadastrado no sistema? Clique em Cadastrar</H10> </center>
        <center><a href="/cadastrar" class="btn btn-info" role="button">Cadastrar</a></center>
        

     </form>
</div>



</body>
</html>
